<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKx3JZiZDG6hisNObaOC-Wnt1SQxU-ZSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>935257598974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insta</string>
	<key>PROJECT_ID</key>
	<string>insta-c9327</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-c9327.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935257598974:ios:8889da71fe39e3a3af6eaf</string>
</dict>
</plist>